@model App.Models.Proyecto

@{
    ViewData["Title"] = "Create";
}

<h1>Agregar</h1>

<h4>Proyecto</h4>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Código" class="control-label"></label>
                <input asp-for="Código" class="form-control" />
                <span asp-validation-for="Código" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripción" class="control-label"></label>
                <input asp-for="Descripción" class="form-control" />
                <span asp-validation-for="Descripción" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="IdAsignatura" class="control-label"></label>
                @Html.DropDownList("IdAsignatura", ViewBag.Asignaturas, null, new { @class="form-control" })
                <div class="text-danger">@ViewBag.ErrorNoHayAsignaturasRegistradas</div>
            </div>
            <br />
            <div>
                <label asp-for="IdDirector" class="control-label"></label>
                <input asp-for="IdDirector" class="form-control" />
                <span asp-validation-for="IdDirector" class="text-danger"></span>
                <div class="text-danger">@ViewBag.ErrorConDirector</div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <label asp-for="IdCalificado1" class="control-label"></label>
                <input asp-for="IdCalificado1" class="form-control" />
                <span asp-validation-for="IdCalificado1" class="text-danger"></span>
                <div class="text-danger">@ViewBag.ErrorConCalificador1</div>
            </div>
            <br />
            <div>
                <label asp-for="IdCalificado2" class="control-label"></label>
                <input asp-for="IdCalificado2" class="form-control" />
                <span asp-validation-for="IdCalificado2" class="text-danger"></span>
                <div class="text-danger">@ViewBag.ErrorConCalificador2</div>
            </div>
            <br>
            <div>
                <label asp-for="IdRúbrica" class="control-label"></label>
                @Html.DropDownList("IdRúbrica", ViewBag.Rúbricas, null, new { @class="form-control" })
                <div class="text-danger">@ViewBag.ErrorNoHayRúbricasRegistradas</div>
            </div>
        </div>
    </div>
</form>
<hr />
<div>
    <a class="btn btn-primary" asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
